<html>
  <head>
    <style>
      table {
        font-family: Arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td,
      th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
      }
      .title {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h3 class="title">User Management System</h3>
    <table>
      <tr>
        <th>Name: <%= name %></th>
        <th>Email: <%= email %></th>
      </tr>

      <tr>
        <th>Contact Number: <%= contactNumber %></th>
        <th>Email: <%= email %></th>
      </tr>
    </table>
  </body>
</html>
